.wpf-head-bar {
    // display: none;
}

.wpf-action-link {
    display: none;
}

.wpf-last-info {
    display: none;
}

.wpf-sb.bottom {
    // display: none !important;
}

.wpforo-feed {
    display: none;
}

#wpforo-footer {
    margin-top: 3rem !important;
}

.wpf-item-element:nth-child(2) {
    display: none !important;
}
