.wpf-head-bar {
    // display: none;
}

.wpf-action-link {
    display: none;
}

.wpf-last-info {
    display: none;
}

.wpf-sb.bottom {
    // display: none !important;
}

.wpforo-feed {
    display: none;
}

#wpforo-footer {
    margin-top: 3rem !important;
}

.wpf-item-element:nth-child(2) {
    display: none !important;
}
//////////////////////// try to recreate design

#wpforo-menu{
    position: relative;
    &::before{
        content: "";
        background: url('./images/musikfolk-logo.svg');
        background-repeat: no-repeat;
        background-position: left top;
        background-size: contain;
        // position: absolute;
        width: 285px;
        height: 115px;
        // background-color: green;
        // top: 0;
        // left: 0;
    }
}