.login {
    position: relative;
    // background: mediumaquamarine !important;
    background-image: url("images/login-bg.jpg") !important;
    background-size: cover;
    background-position: 60% 90%;

    form {
        border: none;
    }
}

#backtoblog {
    padding: 2rem 0 !important;
    background-color: steelblue;
    margin: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#login {
    position: absolute;
    top: -10rem;
    right: 30rem;

    #loginform {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: hotpink;
        padding-bottom: 2.6rem;
    }
    #nav {
        background-color: hotpink;
        margin-top: 0;
    }

    h1 a {
        background: none;
        content: "hej";
        border: 1px solid blue;
        ::after {
            border: 1px solid red;
            width: 100%;
            height: 100%;
            content: "Ny text";
        }
    }

    #user-login {
        border-radius: 1rem;
    }
}
