.Single{
  // margin-bottom: 10rem;

  // &__Content{
  //   color: $black;
  //   width: 100%;
  //   min-width: 20rem;
  //   max-width: 65rem;
  //   word-break: break-all;
  //   margin-top: -7rem;
  //   margin-bottom: 3rem;
  //   line-height: 1.6;
  //   background: none;
  // }

  &__ProfessorBox{
    margin-bottom: 3rem;
  }

  &__RelatedHeader{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: $orange;
  }
}

.ProfessorCard{
  width: 25rem;
  height: 20rem;
  position: relative;
  border-radius: 6px;
  overflow: hidden;

    a{
      margin: 0;
    }

  
  
  &__CardImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
  }
  
  &__CardTitle{
    margin: 0;
    background-color: black;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: .5rem 1rem;
    transition: all .1s ease-in-out;

    .ProfessorCard:hover & {
      background: $orange;
      color: $white;
    }
  }

}