.SingleProfessor {
    &__ContentWrapper {
        display: flex;
    }

    &__ImageWrapper {
        width: 30rem;
        height: 30rem;
        margin-right: 2rem;

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }
}
