.Single__BreadcrumbLink {
    & + a {
        color: $black;
    }
}

.Page__Breadcrumb {
    font-size: 2.2rem;
    a:not(:first-child) {
        color: $black;
    }
}

.SinglePage__Content {
    word-break: break-all;

    // p {
    //     word-wrap: break-word;
    //     white-space: normal;
    // }
    color: green;
}

.Single{
    margin-bottom: 10rem;
    
    &__Content{
        background-color: $white;
        color: $black;
        width: 100%;
        min-width: 20rem;
        max-width: 65rem;
        word-break: break-all;
        margin-top: -7rem;
        margin-bottom: 3rem;
        line-height: 1.6;
        background: none;
    }
}
