// $orangeGradient = linearGradient

$orange: #FF8A00;
$yellow: #FFC000;
$white: #FFFFFF;
$cream: #FFF7DF;
$gray: #5C5C5C;
$grayDark: #212121;
$black: #000000;
$blue: #0085FF;
$lightBlue: #00D1FF;
$darkBlue: #344662;
// $white: #E5E5E5;