@import "./base.scss";
@import "./variables.scss";
@import "./header.scss";

body{
    background-color: steelblue;

    h1, h2{
        color: $white;
    }

}

.FrontPage{

    &__StartBackground{
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, $orange, $yellow);
        padding: 20rem 0;
    }

    &__Title{
        font-size: 4.4rem;
        font-weight: 900;
    }
}