*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

html{
    font-size: 10px;
}

.container{
    margin: 0 auto;
    padding: 0 20rem;
    // max-width: 144rem;
}